<div class="container">
  <div>
    <h1>Add your restaurant</h1>
    <p>Fill in the requested information and your restaurant will be added to Yelp!</p>
  </div>
  <div>
    <%= simple_form_for [@restaurant] do |f| %>
      <%= f.input :name %>
      <%= f.input :category, :collection => %w[chinese italian japanese french belgian] %>
      <%= f.input :address %>
      <%= f.input :phone_number %>
      <%= f.submit "add a restaurant", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>


